<a href="https://colab.research.google.com/github/Thalisson42/PythonDataScience/blob/main/Git_Exer02_Analise_de_dados_Python_Pandas_Flightdelays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. ** Limpar dados usando Python com Pandas
 Observe que os valores separados por vírgula dos arquivos do dataset flightdelays que contém
dados históricos para atrasos de voos de companhias aéreas. **

 As colunas nos arquivos correspondem ao seguinte esquema:
 Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime,
 UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime,
 ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled,
 CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay,
 LateAircraftDelay

 Escreva programa em Python que que satisfaça todos os seguintes critérios:

• Carregue todos os dados em um dataframe do Pandas

• Remova todas as linhas nos dados flightdelays onde a coluna DepTime é igual à string
"NA".

• A saída deve conter apenas o Year, Month, DayofMonth, DepTime, UniqueCarrier,
FlightNum, ArrDelay, Origin and Dest

• Armazene o resultado em um dataframe diferente e, em seguida, persista o conteúdo do
dataframe em um arquivo csv (colunas separadas por vírgula)

2. ** Analisar dados usando Python com Pandas **

Parte 1

 Escreva um programa em Python que calcule o número de linhas do dataset flightdelays através
de um dataframe no Pandas. Armazene a saída do programa em um arquivo do tipo csv com o
nome “clean_total”.

Parte 2

 A coluna Dest é o código do aeroporto de destino onde o voo termina. Escreva um programa em
Python que calcula o número de linhas dos dados a partir do dataset flightdelays limpo (arquivo
gerado na etapa anterior) onde o campo Dest é igual ao código "DEN" do aeroporto de Denver.
Armazene a saída do seu programa em um arquivo csv chamado “denver_total”.

Parte 3

 A coluna ArrDelay é o número de minutos que um voo chegou atrasado. Escreva um programa
que conta o número de voos cujo destino é o aeroporto "DEN" que chegaram com 60 ou mais
minutos de atraso. Armazene a saída do seu programa em um arquivo csv chamado “denver_late”

In [1]:
! git clone https://github.com/leonardoamorim/flightdelays

Cloning into 'flightdelays'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 15 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [2]:
! ls flightdelays

clientes.txt	    flight_delays2.csv	IMDB-Movie-Data.csv  sfo_weather.csv
flight_delays1.csv  flight_delays3.csv	pedidos.txt

In [3]:
import pandas as pd

In [4]:
# importando arquivos para dataframes 
fd1 = pd.read_csv('flightdelays/flight_delays1.csv')
# passando o parametro 'names' contendo a lista dos nomes das colunas do primeiro dataframe
fd2 = pd.read_csv('flightdelays/flight_delays2.csv', names=list(fd1.columns.values))
fd3 = pd.read_csv('flightdelays/flight_delays3.csv', names=list(fd1.columns.values))

In [5]:
fd1.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,9999.0,9999.0,9999.000000,9999.000000,9836.000000,9999.000000,9810.000000,9999.000000,9999.000000,9810.000000,...,9999.000000,9810.000000,9836.000000,9999.000000,9999.000000,3675.000000,3675.000000,3675.000000,3675.000000,3675.000000
mean,2008.0,1.0,4.321232,5.321232,1374.566084,1340.045005,1493.530683,1501.353635,1406.215022,108.114067,...,630.257826,5.042100,10.976515,0.016302,0.002600,11.344762,1.333061,5.738231,0.108844,29.922721
std,0.0,0.0,0.984182,0.984182,464.629931,442.600821,507.840386,470.323422,1151.932242,56.509489,...,449.173251,3.660782,5.786206,0.126639,0.050929,20.200534,10.578508,13.561571,1.230229,34.273262
min,2008.0,1.0,3.000000,4.000000,47.000000,600.000000,1.000000,5.000000,1.000000,38.000000,...,133.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,4.000000,5.000000,952.000000,945.000000,1117.000000,1125.000000,438.000000,68.000000,...,321.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000
50%,2008.0,1.0,4.000000,5.000000,1358.000000,1330.000000,1526.000000,1520.000000,1011.000000,88.000000,...,446.000000,4.000000,9.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,20.000000
75%,2008.0,1.0,5.000000,6.000000,1755.000000,1720.000000,1918.000000,1905.000000,2294.000000,135.000000,...,842.000000,5.000000,12.000000,0.000000,0.000000,15.000000,0.000000,6.000000,0.000000,40.000000
max,2008.0,1.0,6.000000,7.000000,2354.000000,2200.000000,2400.000000,2355.000000,3949.000000,372.000000,...,2363.000000,64.000000,119.000000,1.000000,1.000000,285.000000,202.000000,203.000000,34.000000,434.000000

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
fd2.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,10000.0,10000.0,10000.000000,10000.000000,9848.000000,10000.000000,9826.000000,10000.000000,10000.000000,9826.000000,...,10000.000000,9826.000000,9848.000000,10000.000000,10000.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000
mean,2008.0,1.0,7.416000,2.706800,1353.324127,1340.461000,1488.227661,1500.578500,1437.201200,106.112864,...,619.314100,4.712599,10.466389,0.015200,0.002200,10.337427,1.524826,7.564869,0.081153,25.867592
std,0.0,0.0,0.932004,2.140769,470.440312,458.712987,501.005189,480.920426,1172.490595,55.755090,...,438.407706,2.776425,5.518260,0.122354,0.046855,20.347315,11.731484,18.963448,0.922668,34.071437
min,2008.0,1.0,6.000000,1.000000,22.000000,600.000000,1.000000,5.000000,1.000000,36.000000,...,133.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,7.000000,1.000000,936.000000,930.000000,1105.000000,1110.000000,429.750000,66.000000,...,318.000000,3.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.0,1.0,7.000000,2.000000,1343.000000,1330.000000,1517.000000,1520.000000,1050.000000,87.000000,...,446.000000,4.000000,9.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,17.000000
75%,2008.0,1.0,8.000000,3.000000,1746.000000,1735.000000,1917.000000,1915.000000,2363.000000,131.000000,...,834.000000,5.000000,12.000000,0.000000,0.000000,13.000000,0.000000,8.000000,0.000000,34.000000
max,2008.0,1.0,9.000000,7.000000,2358.000000,2200.000000,2400.000000,2355.000000,3949.000000,360.000000,...,2363.000000,48.000000,148.000000,1.000000,1.000000,277.000000,233.000000,366.000000,15.000000,363.000000

In [7]:
fd3.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,10000.0,10000.0,10000.0000,10000.0000,9849.000000,10000.000000,9842.000000,10000.000000,10000.000000,9842.000000,...,10000.00000,9842.000000,9849.000000,10000.000000,10000.00000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000
mean,2008.0,1.0,10.3232,4.3232,1340.458625,1333.848000,1491.570921,1495.451000,1431.470700,104.800345,...,618.78170,4.564824,10.450706,0.015100,0.00070,8.494495,1.237615,6.750459,0.322936,19.482569
std,0.0,0.0,0.9186,0.9186,462.531575,456.733975,482.549265,478.527424,1168.007397,54.354348,...,437.53817,2.409149,4.927978,0.121957,0.02645,17.613556,9.198428,15.188806,3.379342,23.820884
min,2008.0,1.0,9.0000,3.0000,9.000000,600.000000,1.000000,5.000000,1.000000,35.000000,...,133.00000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,10.0000,4.0000,932.000000,930.000000,1107.000000,1110.000000,430.000000,66.000000,...,320.50000,3.000000,8.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,1.0,10.0000,4.0000,1336.000000,1330.000000,1516.000000,1515.000000,1037.000000,85.000000,...,446.00000,4.000000,9.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,15.000000
75%,2008.0,1.0,11.0000,5.0000,1735.000000,1730.000000,1911.000000,1910.000000,2361.000000,131.000000,...,834.00000,5.000000,12.000000,0.000000,0.00000,8.000000,0.000000,7.000000,0.000000,28.000000
max,2008.0,1.0,12.0000,6.0000,2314.000000,2200.000000,2400.000000,2355.000000,3949.000000,359.000000,...,2363.00000,34.000000,99.000000,1.000000,1.00000,153.000000,168.000000,155.000000,63.000000,200.000000

In [8]:
# concatenando todos os datasets em um só
data_frame = pd.concat([fd1, fd2, fd3])
data_frame.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,29999.0,29999.0,29999.000000,29999.000000,29533.000000,29999.000000,29478.000000,29999.000000,29999.000000,29478.000000,...,29999.000000,29478.000000,29533.000000,29999.000000,29999.000000,6638.000000,6638.000000,6638.000000,6638.000000,6638.000000
mean,2008.0,1.0,7.353578,4.117037,1356.108252,1338.117937,1491.108691,1499.127638,1424.962932,106.340627,...,622.784293,4.772915,10.631057,0.015534,0.001833,10.592498,1.371497,6.419855,0.136186,27.064176
std,0.0,0.0,2.626711,1.814430,466.076076,452.734787,497.220644,476.603543,1164.216293,55.560474,...,441.754759,3.001057,5.427823,0.123665,0.042780,19.865067,10.707867,15.547934,1.720087,32.941579
min,2008.0,1.0,3.000000,1.000000,9.000000,600.000000,1.000000,5.000000,1.000000,35.000000,...,133.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,5.000000,3.000000,940.000000,935.000000,1109.000000,1115.000000,432.000000,67.000000,...,319.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,2008.0,1.0,7.000000,4.000000,1346.000000,1330.000000,1520.000000,1520.000000,1028.000000,86.000000,...,446.000000,4.000000,9.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,18.000000
75%,2008.0,1.0,10.000000,5.000000,1746.000000,1730.000000,1915.000000,1910.000000,2360.000000,132.000000,...,838.000000,5.000000,12.000000,0.000000,0.000000,14.000000,0.000000,7.000000,0.000000,36.000000
max,2008.0,1.0,12.000000,7.000000,2358.000000,2200.000000,2400.000000,2355.000000,3949.000000,372.000000,...,2363.000000,64.000000,148.000000,1.000000,1.000000,285.000000,233.000000,366.000000,63.000000,434.000000

In [9]:
# removendo registros onde DepTime = 'NA'
# colunas: Year, Month, DayofMonth, DepTime, UniqueCarrier, FlightNum, ArrDelay, Origin and Dest
flightdelays = data_frame.loc[
    data_frame['DepTime'].isnull() != True, 
    ["Year", "Month", "DayofMonth", "DepTime", "UniqueCarrier", "FlightNum", "ArrDelay", "Origin", "Dest"]
]
display(flightdelays)

,Year,Month,DayofMonth,DepTime,UniqueCarrier,FlightNum,ArrDelay,Origin,Dest
0,2008,1,3,2003.0,WN,335,-14.0,IAD,TPA
1,2008,1,3,754.0,WN,3231,2.0,IAD,TPA
2,2008,1,3,628.0,WN,448,14.0,IND,BWI
3,2008,1,3,926.0,WN,1746,-6.0,IND,BWI
4,2008,1,3,1829.0,WN,3920,34.0,IND,BWI
...,...,...,...,...,...,...,...,...,...
9995,2008,1,12,2023.0,WN,303,-6.0,LAS,DEN
9996,2008,1,12,1400.0,WN,759,32.0,LAS,DEN
9997,2008,1,12,1415.0,WN,1040,-13.0,LAS,DEN
9998,2008,1,12,1551.0,WN,258,-9.0,LAS,ELP
9999,2008,1,12,1036.0,WN,2280,-10.0,LAS,ELP

In [10]:
# Parte 1
# Escreva um programa em Python que calcule o número de linhas do dataset flightdelays através de um dataframe no Pandas. 
# Armazene a saída do programa em um arquivo do tipo csv com o nome “clean_total”.
print("A quantidade de linhas do dataframe é igual a",flightdelays.shape[0])
flightdelays.to_csv('clean_total.csv')

A quantidade de linhas do dataframe é igual a 29533

In [11]:
# Parte 2
# A coluna Dest é o código do aeroporto de destino onde o voo termina. 
# Escreva um programa em Python que calcula o número de linhas dos dados a partir do dataset flightdelays limpo 
# onde o campo Dest é igual ao código "DEN" do aeroporto de Denver. 
# Armazene a saída do seu programa em um arquivo csv chamado “denver_total”.
denver_total = flightdelays.loc[flightdelays['Dest'] == 'DEN']
print("A quantidade de linhas do dataframe é igual a",denver_total.shape[0])
display(denver_total)
denver_total.to_csv('denver_total.csv')

A quantidade de linhas do dataframe é igual a 495

,Year,Month,DayofMonth,DepTime,UniqueCarrier,FlightNum,ArrDelay,Origin,Dest
119,2008,1,3,701.0,WN,85,-14.0,LAS,DEN
120,2008,1,3,1047.0,WN,157,8.0,LAS,DEN
121,2008,1,3,2232.0,WN,632,63.0,LAS,DEN
122,2008,1,3,1512.0,WN,706,112.0,LAS,DEN
123,2008,1,3,2025.0,WN,908,16.0,LAS,DEN
...,...,...,...,...,...,...,...,...,...
9993,2008,1,12,659.0,WN,85,-3.0,LAS,DEN
9994,2008,1,12,1026.0,WN,157,-6.0,LAS,DEN
9995,2008,1,12,2023.0,WN,303,-6.0,LAS,DEN
9996,2008,1,12,1400.0,WN,759,32.0,LAS,DEN
9997,2008,1,12,1415.0,WN,1040,-13.0,LAS,DEN

In [13]:
# Parte 3
# A coluna ArrDelay é o número de minutos que um voo chegou atrasado. 
# Escreva um programa que conta o número de voos cujo destino é o aeroporto "DEN" 
# que chegaram com 60 ou mais minutos de atraso. 
# Armazene a saída do seu programa em um arquivo csv chamado “denver_late”
denver_late = flightdelays.loc[lambda df: (df['Dest'] == 'DEN') & (df['ArrDelay'] >= 60)]
print("A quantidade de linhas do dataframe é igual a",denver_late.shape[0])
display(denver_late)
denver_late.to_csv('denver_late.csv')

A quantidade de linhas do dataframe é igual a 29

,Year,Month,DayofMonth,DepTime,UniqueCarrier,FlightNum,ArrDelay,Origin,Dest
121,2008,1,3,2232.0,WN,632,63.0,LAS,DEN
122,2008,1,3,1512.0,WN,706,112.0,LAS,DEN
1368,2008,1,3,2105.0,WN,964,70.0,PHX,DEN
2005,2008,1,3,2002.0,WN,1585,70.0,SLC,DEN
2266,2008,1,3,1337.0,WN,3328,78.0,TPA,DEN
2378,2008,1,4,1757.0,WN,294,70.0,ABQ,DEN
2455,2008,1,4,1721.0,WN,510,100.0,AMA,DEN
3562,2008,1,4,1710.0,WN,2907,73.0,LAS,DEN
4809,2008,1,4,1753.0,WN,2786,131.0,PHX,DEN
5443,2008,1,4,2015.0,WN,1585,75.0,SLC,DEN
5815,2008,1,5,1840.0,WN,294,100.0,ABQ,DEN
6779,2008,1,5,1454.0,WN,759,78.0,LAS,DEN
6781,2008,1,5,1542.0,WN,1040,69.0,LAS,DEN
7166,2008,1,5,1646.0,WN,1063,69.0,MCO,DEN
7505,2008,1,5,1452.0,WN,494,81.0,OAK,DEN
7507,2008,1,5,2150.0,WN,1426,133.0,OAK,DEN
7810,2008,1,5,1443.0,WN,2039,70.0,PHX,DEN
8203,2008,1,5,2108.0,WN,1158,92.0,SEA,DEN
8324,2008,1,5,1012.0,WN,720,67.0,SLC,DEN
9726,2008,1,6,2136.0,WN,908,96.0,LAS,DEN
908,2008,1,6,2233.0,WN,3669,107.0,PHX,DEN
1507,2008,1,6,1536.0,WN,963,100.0,SLC,DEN
3628,2008,1,7,2211.0,WN,172,102.0,MDW,DEN
3633,2008,1,7,1830.0,WN,1944,80.0,MDW,DEN
3902,2008,1,7,1147.0,WN,1760,82.0,OAK,DEN
5484,2008,1,8,1039.0,WN,341,71.0,BNA,DEN
8920,2008,1,9,1047.0,WN,341,73.0,BNA,DEN
282,2008,1,9,2031.0,WN,977,92.0,MCI,DEN
1153,2008,1,9,2058.0,WN,964,74.0,PHX,DEN